* {
    margin: 0;
    padding: 0;
}

/* shared style  */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
    color: grey;

}

.color-orange {
    color: #FD6E0A
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px;
}


.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}

.text-center {
    text-align: center;
    align-items: center;
}

.container {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px 200px;
}

/* main style  */

header {
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-position: left 10px top 0px, bottom right;
    background-size: auto 100%, auto;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 45px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
    mix-blend-mode: multiply;

}

#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {

    text-align: center;
    background-color: #FFF8F3;
    /* padding: 131px 156px; */
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-info .info-card p {

    font-size: 20px;

    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}





#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.hr hr {
    margin: 30px 0;
    max-width: 1150px;
    margin-left: 200px;
}

.hr h1 {
    margin: 30px 0;
    max-width: 1150px;
    margin-left: 200px;
}


.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
    margin-top: 40px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 100px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}

.mediaName {
    color: gray
}

.hide {
    display: none !important;
}

@media screen and (max-width:576px) {

    .container {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    header {
        margin-top: 0px;
        padding-top: 0px;
        background-size: auto;


        background-color: #FFF8F3;
        background-image: url(../images/header_bg.png);
        background-position: bottom right;
        background-size: auto;
        background-repeat: no-repeat;
    }

    nav {
        flex-direction: column;
    }

    .banner-image img {
        width: 90%;
    }

    #banner {
        flex-direction: column;
        margin: auto;
    }

    #banner .banner-content {
        text-align: center;
    }

    #about {
        margin: 0px;
        padding: 0px;
    }

    #about,
    #skills,
    #resume {
        padding-top: 40px;
    }

    .about-container {
        text-align: center;
        background-color: #FFF8F3;
        padding: 0px;
    }

    .about-info {
        flex-direction: column;
        gap: 20px;
    }

    .skill-box {
        flex-direction: column;

    }

    .skills-container .skill-box {
        padding: 20px;
    }



    .resume-container {
        flex-direction: column;
    }

    .section-heading {
        margin-bottom: 0px;
    }

    .hr hr {
        margin-left: 0px;
    }

    footer {
        margin-top: 0px;
        padding-top: 0px;
    }

    .footer-container .social {
        margin-top: auto;
    }

    .footer-container .social p {
        margin-bottom: 0px;
    }

    footer .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-container form input[type="text"],
    .footer-container form textarea {
        width: 80%;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;
        border-radius: 5px;
        color: #757575;
    }

}